src/main/antlr4/samples/cab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://rts.unixcode.net/xml/model/1.0">

  <xs:simpleType name="Header">
    <xs:annotation>
      <xs:documentation>Магический заголовок файла</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="SIM.*______"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Word">
    <xs:annotation>
      <xs:documentation>Идентификатор с ограниченным алфавитом. Имя файля или ещё что-то в этом роде</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z._0-9-]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="String">
    <xs:annotation>
      <xs:documentation>Произвольная строка</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="Number">
    <xs:annotation>
      <xs:documentation>Число</xs:documentation>
    </xs:annotation>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="int" />
          <xs:enumeration value="float" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Int">
    <xs:annotation>
      <xs:documentation>Целое число</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Number">
        <xs:sequence>
          <xs:element name="Week" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Float">
    <xs:annotation>
      <xs:documentation>Число с плавающей запятой</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Number">
        <xs:sequence>
          <xs:element name="Week" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Section">
    <xs:annotation>
      <xs:documentation>Конфигурационная секция</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="string" minOccurs="0" type="String" />
      <xs:element name="number" minOccurs="0" type="Number" />
      <xs:element name="word" minOccurs="0" type="Word" />
      <xs:element name="section" type="Section" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header" type="Header" />

        <xs:element name="section" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="word" type="Word" />



              <xs:element name="section" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="number" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="type" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="section" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="type" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="section" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="section" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element name="number" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="type" use="required">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:enumeration value="float" />
                                                    <xs:enumeration value="int" />
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:attribute>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="word" minOccurs="0" type="xs:string" />
                                      <xs:element name="string" minOccurs="0" type="xs:string" />
                                      <xs:element name="section" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence minOccurs="0">
                                            <xs:element name="number" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="type" use="required">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:enumeration value="float" />
                                                          <xs:enumeration value="int" />
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:attribute>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="section" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="section" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:sequence minOccurs="0">
                                                        <xs:element name="number" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute name="type"
                                                                  use="required">
                                                                  <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                      <xs:enumeration value="float" />
                                                                      <xs:enumeration value="int" />
                                                                    </xs:restriction>
                                                                  </xs:simpleType>
                                                                </xs:attribute>
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="word" minOccurs="0"
                                                          type="xs:string" />
                                                      </xs:sequence>
                                                      <xs:attribute name="name" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="word" minOccurs="0" type="xs:string" />
                                          </xs:sequence>
                                          <xs:attribute name="name" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:enumeration value="AnimTime" />
                                                <xs:enumeration value="BottomRight" />
                                                <xs:enumeration value="CanBeOpened" />
                                                <xs:enumeration value="Connects" />
                                                <xs:enumeration value="HeadOutPosition" />
                                                <xs:enumeration value="HeadOutWindow" />
                                                <xs:enumeration value="InteriorPlane" />
                                                <xs:enumeration value="Name" />
                                                <xs:enumeration value="ParentObject" />
                                                <xs:enumeration value="Pos1" />
                                                <xs:enumeration value="Pos2" />
                                                <xs:enumeration value="Pos3" />
                                                <xs:enumeration value="Position" />
                                                <xs:enumeration value="Radius" />
                                                <xs:enumeration value="SMSTriggers" />
                                                <xs:enumeration value="SoundProof" />
                                                <xs:enumeration value="SubObjects" />
                                                <xs:enumeration value="TopLeft" />
                                                <xs:enumeration value="TopRight" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="string" minOccurs="0" type="xs:string" />
                                <xs:element name="number" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="type" use="required" fixed="int" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="word" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="name" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="AnimNode" />
                                    <xs:enumeration value="BlockCheckAhead" />
                                    <xs:enumeration value="Display" />
                                    <xs:enumeration value="ExteriorNodes" />
                                    <xs:enumeration value="InteriorAreas" />
                                    <xs:enumeration value="InteriorChairs" />
                                    <xs:enumeration value="InteriorDoors" />
                                    <xs:enumeration value="InteriorPlanes" />
                                    <xs:enumeration value="InteriorWindows" />
                                    <xs:enumeration value="LightSource" />
                                    <xs:enumeration value="SignalAspects" />
                                    <xs:enumeration value="SignalLights" />
                                    <xs:enumeration value="SignalizationScripted" />
                                    <xs:enumeration value="Skip" />
                                    <xs:enumeration value="Switch" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" fixed="Shape"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
